{% extends "base/base.html" %}
{% block main %}
<h1 class="page-header">{{ title }}</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      {% for server in server_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/server/{{ server.uuid }}">{{ server.name }}</a></td>
        <td>{{ server.comment }}</td>
        <td>{{ server.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}
